@model eNotaryWebRole.ViewModel.DivorceCommonDetailsViewModel
<div id="container-common-details">
    <div class="daType"> Detalii comune</div>
    <div class="inputdetails">
        <label class="labelinput">
            Data casatoriei
        </label>
        <input type="text" id="daMarriageDate" name="daMarriageDate" value="@Model.marriage_date"/>
    </div>


    <div class="inputdetails">
        <label class="labelinput">
            Primarie Localitate:
        </label>
        <input type="text" id="daDownHallCity" name="daDownHallCity" value="@Model.downhall_city"/>
    </div>

     <div class="inputdetails">
        <label class="labelinput">
            Primarie Judet:
        </label>
        <input type="text" id="daDownHallCounty" name="daDownHallCounty" value="@Model.downhall_county"/>
    </div>

     <div class="inputdetails">
        <label class="labelinput" style="display:block;">
            Certificat casatorie:
        </label>

          <label class="labelinput">
            Serie:
        </label>
        <input type="text" id="daMarriageCertificateSeries" name="daMarriageCertificateSeries" value="@Model.marriage_certificate_serie"/>

         <label class="labelinput">
            Numar (folositi separatorul *):
        </label>
        <input type="text" id="daMarriageCertificateNo" name="daMarriageCertificateNo" value="@Model.marriage_certificate_no" />
    </div>

     <div class="inputdetails">
        <label class="labelinput">
          Locuinta comuna
        </label>
        
    </div>
       <div class="inputdetails">
        <label class="labelinput">
            Oras:
        </label>
        <input type="text" id="daCommonCity" name="daCommonCity" value="@Model.common_city" />
    </div>

    <div class="inputdetails">
        <label class="labelinput">
            Strada :
        </label>
        <input type="text" id="daCommonStreet" name="daCommonStreet" value="@Model.common_street" />
        <label class="labelinput" >
            Nr :
        </label>
        <input type="text" id="daCommonStreetNo" name="daCommonStreetNo" style="width: 30px;" value="@Model.common_street_no" />
        <label class="labelinput" style="min-width:40px;">
            Bl :
        </label>
        <input type="text" id="daCommonStreetBl" name="daCommonStreetBl" style="width: 30px;" value="@Model.common_street_bl"/>

    </div>

    <div class="inputdetails">
        <label class="labelinput" >
            Et:
        </label>
        <input type="text" id="daCommonEt" name="daCommonEt" style="width: 30px; " value="@Model.common_et"/>

        <label class="labelinput" style="min-width:40px;">
            Ap:
        </label>
        <input type="text" id="daCommonAp" name="daCommonAp" style="width: 30px;" value="@Model.common_ap"/>

        <label class="labelinput" style="display:block;">
            Sector/ Judet:
        </label>
        <div id="county-dropdown-common">

        </div>
    </div>

     <div class="inputdetails">
        <label class="labelinput">
            Nume fost sot:
        </label>
        <input type="text" id="daCommonExHusbandName" name="daCommonExHusbandName" value="@Model.common_ex_husband_name"/>
    </div>

      <div class="inputdetails">
        <label class="labelinput">
            Nume fost sotie:
        </label>
        <input type="text" id="daCommonExWifeName" name="daCommonExWifeName" value="@Model.common_ex_wife_name"/>
    </div>

</div>
<script>

    $("#daMarriageDat").datepicker('show');

</script>