@using ClientDependency.Core
@using ClientDependency.Core.Mvc
<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8" />
        <title>@ViewBag.Title - My ASP.NET MVC Application</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Styles.Render("~/Content/bootstrap.css")
        @Styles.Render("~/Content/datepicker.css")
       @* @Scripts.Render("~/bundles/modernizr")*@
        <link href="@Url.Content("~/Scripts/jstree/themes/classic/style.css")" rel="stylesheet" type="text/css" />
        @Styles.Render("http://code.jquery.com/ui/1.10.2/themes/smoothness/jquery-ui.css")

         
        @Scripts.Render("~/Scripts/jquery-1.7.1.min.js")       
        @Scripts.Render("~/Scripts/jquery-ui-1.8.20.min.js")
         <script src="~/Scripts/multiupload.js"></script>
        <script src='@Url.Content("~/Scripts/jstree/jquery.jstree.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Scripts/bootstrap/bootstrap.js")' type="text/javascript"></script>
        <script src='@Url.Content("~/Scripts/bootstrap/bootstrap-datepicker.js")' type="text/javascript"></script>
      
        
        

    
       

       
        
     
        
         <!-- css for jstree - fix for not loading icons on 3G connection -->
    

      
        <!-- Load Queue widget CSS and jQuery -->
      
       <link href="~/Content/style.css" rel="stylesheet" />

        
<meta name="viewport" content="width=device-width" />
     
    </head>
    <body>
        <header>
            <div class="float-left" style ="width:100%;">
                    <p class="site-title">@Html.ActionLink("your logo here", "Index", "Home")</p>
                </div>           
                
                <div class="float-right">
                    <section id="login">
                        @Html.Partial("_LoginPartial")
                    </section>
                </div>
                <div class="float-left" style="width:100%;">
                    
                    <nav>               

                        <div class="navbar">
                          <div class="navbar-inner">
                            <a class="brand" href="#">eNotary</a>
                            <ul class="nav" id="tabMenu">
                              <li id="liHome">@Html.ActionLink("Acasa", "Index", "Home")</li>
                              <li id="liAbout">@Html.ActionLink("Despre noi", "About", "Home")</li>
                              <li id="liContact">@Html.ActionLink("Contact", "Contact", "Home")</li>
                              <li id="liDocs">@Html.ActionLink("Documente", "Index", "SignDocs")</li>
                            </ul>
                          </div>
                    </nav>
                </div>
         
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
          
                @RenderBody()
           
        </div>
        <footer>
           
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - My ASP.NET MVC Application</p>
                </div>
           
        </footer>
        
       
        


       @* @Scripts.Render("~/bundles/jquery")*@
        @RenderSection("scripts", required: false)
    
@*<script src="@Url.Content("~/Scripts/knockout-2.0.0.debug.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/script.js")" type="text/javascript"></script>*@
    </body>
    
   
 
    
    
 
</html>
<script>
    $(function () {

     
   
   
        

    
    });

    // change tab
    // find live which tab was clicked to make it active
    $('#tabMenu li a').live('click', function () {

        // remove class active from each tab 
        $('#tabMenu ul').find('li').removeClass('active');
        console.log($(this).parent()[0].id);
        $("#" + $(this).parent()[0].id).addClass('active');



    });
</script>


       
