@model eNotaryWebRole.Models.Address


<div id ="divAddressPartial">
    <p id="pAddress"> Adresa *</p>
    @Html.TextBoxFor(m=>Model.Address1)
    <p id="pStreet1"> Strada 1 *</p>
    @Html.TextBoxFor( m=> Model.Street_1)
    <p id="pStreet2"> Strada 2</p>
    @Html.TextBoxFor( m=> Model.Street_2)
    <p id ="pStreet3"> Strada 3</p>
    @Html.TextBoxFor( m=> Model.Street_3)
    <p id ="pZipCode"> Cod Postal *</p>
    @Html.TextBoxFor( m=> Model.ZIP)
    <p id="pCity"> Oras *</p>
    @Html.TextBoxFor( m=> Model.City)
    <p id="pCountry"> Tara *</p>
    @Html.TextBoxFor( m=> Model.Country)
</div>

