@{
    ViewBag.Title = "Index";
}

@section AddToHead{
    <link href='@Url.Content("~/Content/users/users.css")' rel="stylesheet" />
    }


<script type="text/javascript">

    $(document).ready(function () {

        var roles = [];
        $.each($("#RoleList").find("option"), function (index, value) {
            roles.push(value.text);
        });


        var columnNames = [];
        var columnModel = [];
      
       columnNames = ['ID', 'First Name', 'Last Name', 'Email', 'Telephone Number', 'Username', 'Role', ''];
     columnModel = [

                { name: 'ID', index: 'ID', hidden: true },
                { name: 'FirstName', index: 'FirstName', width: 140, search: true, stype: 'text', resizable: false, align: 'center' },
                { name: 'LastName', index: 'LastName', width: 140, search: true, stype: 'text', resizable: false, align: 'center' },
                { name: 'Email', index: 'Email', width: 150, search: true, stype: 'text', resizable: false, align: 'center' },
                { name: 'TelephoneNumber', index: 'Telephone Number', width: 120, search: true, stype: 'text', resizable: false, align: 'center' },
                { name: 'Username', index: 'Username', width: 140, search: true, stype: 'text', resizable: false, align: 'center' },
                { name: 'Role', index: 'Role', width: 120, search: true, stype: 'select', editype:'select', editoptions: {value:roles}, resizable: false, align: 'center' },
                { name: 'Options', index:'Options', width: 150, search: false, resizable: false, align :'center' }             



            ];
     
        jQuery("#listUsers").jqGrid({
            url: '@Url.Content("~/Users/List/")',
            datatype: "json",
            mtype: 'GET',
            colNames: columnNames,
            colModel: columnModel,
            multiselect: false,
            rowNum: 10,
            rowList: [5, 10, 20, 50, 100],
            pager: '#pagerUsers',
            //sortorder: "desc",
            viewrecords: true,
            autowidth: true,
            shrinkToFit: true,
            height: '100%',
            width: '100%',
            gridview: true,
            hoverows: false,
            scrollOffset: 0,
            jsonReader: {
                //repeatitems: false,
                root: 'rows',
                records: 'records',
                total: 'totalPages',
                page: 'page'
               
               
            },
            postData: {
                ReportName: function () {
                    $(".ui-jqgrid-titlebar").hide();
                    var searchValue = [];
                    searchValue = window.location.pathname.split('=');
                    var temp;
                    if (searchValue.length > 1)
                        $.each(searchValue, function (index, value) {
                            if (index == 1) {
                                temp = value;


                            }
                        });
                    else {
                        temp = "";
                    }
                    return temp;

                }
            },


            loadComplete: function () {
                $(".ui-jqgrid-titlebar").hide();
                var ids = jQuery("#listUsers").jqGrid('getDataIDs');
                console.log(ids);
                for (var i = 0; i < ids.length; i++) {
                    var temp = $("#listUsers").getRowData(ids[i]);
                    op = '<a style="color:#000000; margin-right:10px; " class="link"  href="@Url.Content("~/Users/MyAccount?id=")' + jQuery("#listUsers").getCell(ids[i], 'ID') + '">Edit <i class="icon-pencil" style="padding:2px;"/></a >';
                    del = op+ '<a style="color:#000000; margin-right:10px; " class="link" onclick="return confirm(\'Sunteti sigur ca doriti sa stergeti acest utilizator?\');return false;"   href="@Url.Content("~/Users/Delete?id=")' + jQuery("#listUsers").getCell(ids[i], 'ID') + '">Delete <i class="icon-trash" style="padding:2px;"/></a >';
                  
                    jQuery("#listUsers").jqGrid('setRowData', ids[i], { Options: del });

                }

            
                $("#main").height($("#listUsers").height() + 300 + 'px');
                


            },



            caption: "My saved Users"
        });

        jQuery("#listUsers").jqGrid('filterToolbar', { autosearch: true, afterClear: true, searchOnEnter: false });

        //         var width = $("#listUsers").jqGrid('getGridParam', 'width');
        //                jQuery("#listUsers").jqGrid('setGridWidth', width, true);
           
        
        $("#listUsers").jqGrid('navGrid', '#pagerUsers',
            { edit: false, add: false, del: false, search: false, refresh: true });

        $(window).bind('resize', function () {
            var wid = $(window).width() - $("#body").width();

            $("#noResultsDiv").width($(window).width() - 1.5 * wid);
            $("#listUsers").setGridWidth($(window).width() - 2*wid);
        }).trigger('resize');


      


    });

</script>

<div style="display:none">    @Html.DropDownList("RoleList", "")</div>
<div id="noResultsDiv" style="float:left;  " class="alert hideDiv">
    <button type="button" class="close" data-dismiss="alert"><img src='@Url.Content("~/Content/Icons/x.png")'/></button>
 <strong>Warning!</strong> No reports found.

</div>

<div id ="divCreate" style="width:100%;position:relative; height:30px;">
    <button id="btnCreateNewUser" class ="btn"><a href="@Url.Content("~/Users/MyAccount?id=-1")">Add new user</a ></button>

</div>
<div id="grid" class="box-container" style="float:left;">
    <p></p>
    <table id="listUsers"  ></table>
 
    <div id="pagerUsers" style="height:35px;" ></div>
        <div id="divDelete"></div>
 
</div>

<script>

 


</script>
