@model eNotaryWebRole.Models.UnsignedDocumentsViewModel
@using PdfViewer;

<h2>Index</h2>
@section AddToHead{
    <link href='@Url.Content("~/Content/signed/index_singed.css")' rel="stylesheet" />
    <link href='@Url.Content("~/Content/signed/mail.css")' rel="stylesheet" />
    
}
<div id="ErrorMessageSignDocs"></div>
   

@using (@Ajax.BeginForm("Index", "SignDocs", new AjaxOptions { HttpMethod = "POST", UpdateTargetId = "Test", InsertionMode = InsertionMode.Replace, LoadingElementId = "loadingDiv", OnBegin = "onBegin", OnSuccess = "onSuccess" }, new { id = "formSignDocs" }))
{
<div id ="signDocsContent" >   
    <div id="tree-container">

        <div id="tree-toggle">
            <i class="icon-chevron-left"></i>
        </div>

        <div id="jstree">
            <p id="chooseVariables" style="margin-bottom: 10px; margin-top: 20px;">
                <b>Documente </b>
            </p>

            @Html.Action("Index", "Tree")

            <div class="clear-all"></div>
        </div>


        <div class="clear-all"></div>
    </div>

   


        <div id="accordion-and-doc">
             <div id="filters">
                 <div id="ModelsFilter">
                     <p style="margin-top: 10px; margin-bottom: 10px;" id="ByModelP">
                         <b>Filtrare documente </b>
                     </p>

                     @{
                        string x = "FilterTree/GetDataFilterTree";
                        Html.RenderPartial("_FilterTree", x);
                     }
                 </div>

        <button class="btn" id="bttSearchFilter" value="Search" name="Search" style="float: right; margin-top: 10px; margin-right: 8px;"><i class="icon-search"></i></button>
    </div>
        <div class="accordion-group" id="doc-controls-accordion">
                        <div class="accordion-heading">
                            <a class="accordion-toggle" data-toggle="collapse" href="#collapse-doc-controls-top">
                                <b>
                                    Detalii despre document si persoana 
                                </b>
                                <i class="icon-chevron-up"></i>
                            </a>
                        </div>
            
                        <div id="collapse-doc-controls-top" class="accordion-body collapse in">
                            <div class="accordion-inner">
                                <div id="doc-controls-top"> 
                                    <div id="personDetail-shadow "></div>
                                    <div id="sgpersonDetail" class="disabled">
                                        <input type="text" id="sdPersonFirstName" class="inputSignDocs" placeholder="Prenume 1" />
                                        <input type="text" id="sdPersonMiddleName" class="inputSignDocs" placeholder ="Prenume 2" />
                                        <input type="text" id="sdPersonLastName" class="inputSignDocs" placeholder="Nume" />
                                   
                                        <input type="text" id="sdGender" class="inputSignDocs" placeholder="Sex " />
                                        <input type="text" id="sdAge" class="inputSignDocs" placeholder="Varsta" />
                                        <input type="text" id="sdBirthday" class="inputSignDocs" placeholder="Data Nasterii" />
                                        <div id ="divFullProfile" style="display:none;"></div>
                                        
                                    </div>
                                    
                                   <div style="height:40px;width:100%;">
                                       <button id="btnViewFullProfile"  class="btn " style="float:right;"><i class="icon-chevron-down"></i></button>
                                   </div>

                                    <div id="sgActDetail">
                                        @Html.DropDownList("ActTypeList","Tipul actului")
                                        <input type="text" id="sdActName" class="inputSignDocs"  name="sdActName" placeholder ="Nume Act" />
                                        <input type="text" id="sdCreationDate" class="inputSignDocs" name="sdCreationDate" placeholder="Data crearii" disabled/>
                                        <input type="text" id="sdReason" class="inputSignDocs" name="sdReason" placeholder="Necesar la .." />
                                        <input type="text" id="sdState" class="inputSignDocs" name="sdState" placeholder ="Stare document" />
                                        <input type="text" id ="sdReasonState" class="inputSignDocs" name ="sdReasonState" placeholder ="Motiv stare" />
                                       <textarea type="text" id="sdExtraDetails" class="inputSignDocs" name="sdExtraDetails" placeholder ="Mentiuni..." ></textarea>

                                    </div>
                                     <div style="float:left;margin-bottom:20px;">
                                        <input type="checkbox" id="sdSentToClient" name="sdSentToClient" style="float:left;"  /> <label id ="sgSentToClientText" style="float:left;padding-left:10px;" >A fost anuntat clientul</label>
                                    </div>
                                    
                                    
                                

                                    <div class="clear-all"></div>
                                </div>
                            </div>
                        </div>
                    </div>
             <div id="buttonControls" >
                <div id="buttons">
                    @if(ViewBag.SendMail == 1){
                    <button id="sgSendMailToClient" name="sgSendMailToClient" value="SendMail" class="btn">Trimite mail client</button>
                    }
                    @if(ViewBag.Sign == 1){
                    <button id="sgSignDocument" name="sgSignDocument"  value="Semneaza" class="btn">Semneaza</button>
                    }
                    <button id="sgSave" name="sgSave" value="Salveaza"  class="btn">Salveaza</button>
            </div>

            
    </div>
            <div id="documentListed" class=".is-doc-container"style="float:right; margin-top:40px;">
                <iframe src="" frameborder="0" id="iframeDoc" style="width:100%; height:700px;"></iframe>
                

                @*<object data="#" type="application/pdf" width="100%" height="500px;" style="display:none;" id="iframeDoc">

                    <p>
                    It appears you don't have a PDF plugin for this browser.
                    No biggie... you can 
                     <a href="#" id="iframeDocA">click here to download the PDF file.</a>
                    </p>

                </object>*@
            
          
               
            </div>
        </div>
   
        
</div>
}

<div id="mail-container" style="display:none;">
    
    <div id="mail-toolbar">
        <div id="mail-controls">
            <div id="mail-minimize-button" style="display:inline-block;">
                <i class="icon-minus icon-white"></i>

            </div>
            <div id="mail-close-button" style="display:inline-block;">
                <i class="icon-remove icon-white"></i>
            </div>
            
        </div>


    </div>
    <div id="mail-header" >
        <div class="mail">
            <span id="mail-header-text">Mail nou 
            </span>
        </div>
        <div class="mail">
            <input type="text" id="mail-subject" placeholder="Subiect ..." />
                 
        </div>
    </div>
    <div id="mail-content"  >
        <div >
            <textarea id="mail-body" placeholder="Continut mail..."></textarea>
        </div>
    </div>
    <div id="mail-footer">
        <button id="btnSendMail" class="btn btn-info" >Trimite mail</button>
    </div>


</div>



@section AddToBottom{
    <script>

        $("#btnSendMail").click(function (e) {
            e.preventDefault();

            var checked_variables = $("#demoTree")
                   .jstree("get_checked", null, false);
            var param = new Object();
            var id = checked_variables[0].id;
            var ok = 0;
            while ($("#" + id).attr('description') != 'person' || ($("#" + id).attr('description') == 'person' && $("#" + id).hasClass('jstree-unchecked'))) {
                if($("#" + id).attr('description')=='act'){
                    id = id;
                    break;
                }
                else{
                    id = $("#" + id).find('li')[0].id;
                }

            }
            param.id = id.split('_')[0];
            param.subject = $("#mail-subject").val();
            param.body = $("#mail-body").val();
            param.attachment = $("#iframeDoc").attr('src');

            var parameter = JSON.stringify(param);
            $.ajax({
                type: "POST",
                url: '@Url.Content("~/SignDocs/SendMailToUser")',
                    dataType: 'json',
                    data: parameter,

                    contentType: 'application/json',
                    success: function (data) {
                        console.log('success');
                    },

                    error: function () {
                    }
                });

        });

        $("#mail-minimize-button").click(function (e) {
            e.preventDefault();
            console.log('minimize');
            var type = $("#mail-minimize-button").find('i').attr('class');
            if (type == 'icon-minus icon-white') {
                $("#mail-container").height('30px');
                $("#mail-container").width('200px');
                $("#mail-minimize-button").find('i').attr('class', 'icon-resize-full icon-white');
            } else {
                $("#mail-container").height('400px');
                $("#mail-container").width('700px');
                $("#mail-minimize-button").find('i').attr('class', 'icon-minus icon-white');

            }

        });

        $("#sgSendMailToClient").click(function (e) {

            e.preventDefault();

            var checked_variables = $("#demoTree")
                    .jstree("get_checked", null, false);
            if (checked_variables.length > 0) {
                $("#mail-container").show();
                $("#ErrorMessageSignDocs").removeClass('alert-error alert');
                $("#ErrorMessageSignDocs").html();

               



            }
            else {

                $("#ErrorMessageSignDocs").addClass('alert-error alert');
                $("#ErrorMessageSignDocs").html('Alegeti un client caruia sa-i trimiteti mail');
            }


        });

        // popup filters
        $("#bttFilters").click(function () {

            var height = $("#jstree").parent().height();

            if ($("#filters").css('display') == 'none') {
                $("#filters").width('410px');
                $("#filters").show();
               
         
            }
            else {
                
                $("#filters").hide();
               
                
            }

            return false;

        });

        $("#bttSearchFilter").click(function (e) {
            e.preventDefault();




                $("#demoTree").jstree("destroy");
                $("#demoTree").html('');

                var selFilters = [];
                $.each($("#_filter").jstree("get_checked", null, false), function (index, value) {
                    selFilters.push(value.id);
                });
               
                loadJstree(treeModelTree, [], selFilters, [], [], '@Url.Content("~/Tree/GetTreeData/")', '@Url.Content("~/Tree/SearchTreeData/")', 0,'','@Url.Content("~/SignDocs/DisplayImage")','@Url.Content("~/Fisiere/")','@Html.Raw(ViewBag.Role)');
           
        });


       

        $("#mail-close-button").click(function (e) {
            $("#mail-container").hide();
        });

        $("#btnViewFullProfile").click(function (e) {
            e.preventDefault();

            // get the full details about the person selected 

            var checked_variables = $("#demoTree")
                    .jstree("get_checked", null, false);
            if (checked_variables.length > 0) {

                var iconElem = $(this).children('i'),
                      currentClassAttr = iconElem.attr('class');

                if (currentClassAttr == 'icon-chevron-up') {
                    iconElem.attr('class', 'icon-chevron-down');
                    $("#divFullProfile").hide();
                } else {
                    iconElem.attr('class', 'icon-chevron-up');


                    var param = new Object();

                    // verify if the selected variable has description act
                    var id = checked_variables[0].id;
                    var ok = 0;
                    while ($("#" + id).attr('description') != 'act' || ($("#" + id).attr('description') == 'act' && $("#" + id).hasClass('jstree-unchecked'))) {
                        id = $("#" + id).find('li')[0].id;

                    }
                    param.parentID = $("#" + id).parent().parent().parent().parent()[0].id;
                    id = id.split('_')[0];
                    param.id = id;

                    var parameter = JSON.stringify(param);
                    $.ajax({
                        type: "POST",
                        url: '/SignDocs/PersonDetails',
                dataType: 'json',
                data: parameter,

                contentType: 'application/json',
                success: function (data) {
                    console.log(data);
                    birthday = new Date(parseFloat(data[0].Birthday.split('(')[1].split(')')[0]));
                    $("#divFullProfile").html(
                        "<input type=\"text\" id =\"sdNationality\" class=\"inputSignDocs\" placeholder =\"" + data[0].Nationality + "\"/>" +
                        "<input type=\"text\" id =\"sdAddress\" style=\"margin-left:10px\" class=\"inputSignDocs\" placeholder =\"" + data[0].Address1 + "\"/>" +
                         "<input type=\"text\" id =\"sdEducationLevel\" style=\"margin-left:10px\" class=\"inputSignDocs\" placeholder =\"" + data[0].EducationLevel1 + "\"/>" +
                        "<input type=\"text\" id =\"sdNJobName\"  class=\"inputSignDocs\" placeholder =\"" + data[0].JobName + "\"/>" +
                        "<input type=\"text\" id =\"sdJobPlace\" style=\"margin-left:10px\" class=\"inputSignDocs\" placeholder =\"" + data[0].JobPlace + "\"/>" +
                        "<input type=\"text\" id =\"sdStreet_1\" style=\"margin-left:10px\" class=\"inputSignDocs\" placeholder =\"" + data[0].Street_1 + "\"/>" +
                        "<input type=\"text\" id =\"sdStreet_2\"  class=\"inputSignDocs\" placeholder =\"" + data[0].Street_2 + "\"/>" +
                        "<input type=\"text\" id =\"sdStreet_3\" style=\"margin-left:10px\" class=\"inputSignDocs\" placeholder =\"" + data[0].Street_3 + "\"/>" +
                        "<input type=\"text\" id =\"sdCity\" style=\"margin-left:10px\" class=\"inputSignDocs\" placeholder =\"" + data[0].City + "\"/>" +
                        "<input type=\"text\" id =\"sdCountry\"  class=\"inputSignDocs\" placeholder =\"" + data[0].Country + "\"/>" +
                        "<input type=\"text\" id =\"sdMobilePhoneNumber\" style=\"margin-left:10px\" class=\"inputSignDocs\" placeholder =\"" + data[0].MobilePhoneNumber + "\"/>" +
                        "<input type=\"text\" id =\"sdHomePhoneNumber\" style=\"margin-left:10px\" class=\"inputSignDocs\" placeholder =\"" + data[0].HomePhoneNumber + "\"/>" +
                        "<input type=\"text\" id =\"sdEmail\"  class=\"inputSignDocs\" placeholder =\"" + data[0].Email + "\"/>" +
                        "<input type=\"text\" id =\"sdFacebookID\" style=\"margin-left:10px\" class=\"inputSignDocs\" placeholder =\"" + data[0].FacebookID + "\"/>"


                        );
                    $("#divFullProfile").show();

                    return true;
                },
                error: function () {
                    console.log('eroare');

                }
            });
        }
    }


      });

    </script>
    <script src='@Url.Content("~/Scripts/signedDoc/index_signedDoc.js")'></script>
 
}